  /***** Primary color ******/
  $primary: #415167;
  $primary-dark: #151D28;
  $primary-darker: #13073A;
  $primary-light: #EDF0F5;
  $primary-lighter: #887CAF;
  $primary-opacity: rgba(64, 48, 117, 0.1);
  /**************************/

  /**** Secondary color *****/
  $secondary: #AA8439;
  $secondary-dark: #805C15;
  $secondary-darker: #553900;
  $secondary-light: #D4B16A;
  $secondary-lighter: #FFE3AA;
  /**************************/

  /******* Info color *******/
  $info: #AAAA39;
  $info-dark: #808015;
  $info-darker: #555500;
  $info-light: #D4D46A;
  $info-lighter: #FFFFAA;
  /**************************/

// Abstract
$white: #ffffff;