  /***** Primary color ******/
  $primary: #415167;
  $primary-dark: #151D28;
  $primary-darker: #151D28;
  $primary-light: #EDF0F5;
  $primary-lighter: #F9FBFF;
//   $primary-opacity: rgba(64, 48, 117, 0.1);
  /**************************/

  /**** Secondary color *****/
  $secondary: #C7A17A;
  $secondary-dark: ;
//   $secondary-darker: #553900;
//   $secondary-light: #D4B16A;
//   $secondary-lighter: #FFE3AA;
  /**************************/

  /******* Info color *******/
  $info: #AAAA39;
  $info-dark: #808015;
  $info-darker: #555500;
  $info-light: #D4D46A;
  $info-lighter: #FFFFAA;
  /**************************/

// Abstract
$white: #ffffff;