// .form{
    
// }
body {
    background-color: $primary-light;
}

.login__center {
    background-color: $white;     
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;    
}

.login__center-title {
    color:  $primary;
    font-size: 30px;
    font-weight: 900;    
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid  $primary;
}

.login__center-form {
    padding: 0 40px;
    box-sizing: border-box;
}

.login__text-field {
    position: relative;
    border-bottom: 2px solid $primary;
    margin: 30px 0;
}

.login__text-input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;

&:focus ~ label,
&:valid ~ label {
      top: -5px;
      color: $primary-darker;
    }  

&:focus ~ span::before,
&:valid ~ span::before {
      width: 100%;
    } 
}

.login__text-label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: $primary;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.login__text-span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: $primary-darker;
    transition: .5s;
}

.login__pass-field {
     margin: -5px 0 20px 5px;
     color: $primary;
     cursor: pointer;

&:hover {
       text-decoration: underline;
     }
}


input[type="submit"] {
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
    border: 1px solid;
    background: $secondary;
    border-radius: 25px;
    font-size: 18px;
    color: $primary-light;
    font-weight: 700;
    cursor: pointer;
    outline: none;
     
&:hover{
    border-color: $primary;
    transition: .5s;
}
}


.signup__contact {
    color: red;
} 
.login__signup-field {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: $primary;
}

// .login__sign {
//     color: #2691d9;
//     text-decoration: none;
// &:hover{
//        text-decoration: underline;
// }    
// }


