.admin__play-list-container{
    display: flex;
    justify-content: space-around;
    margin-top: 58px;
}
.play-card {       
    display: flex;
    flex-direction: column;   
    width: calc(25% - 20px);    
    align-items: center;
    justify-content: center;
    background-color: $primary-light;   
    border: 1px solid $primary;    
}

.play-card-image-wrapper{
    display: flex;
    width: 100%;
    height: 50%;
    margin-bottom: 34px;
    
    align-items: center;
    justify-content: center;
}
.play-card-image {
    width: 100%;
}
.play-card-description {
    color: $primary;
    font-size: 16px;
    padd: 10px;
}