.admin__play-list {
    margin-top: 100px;

}
.admin__play-list-title {
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: $primary;
}

.admin__form-uploaded-image  {
   width: 200px;
}